@import "../../variables/colors.scss";

.topBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $topBar-bgc;
    height: 8%;
    &__text {
        color: $topBar-color;
    }
}
