@import "../../variables/colors.scss";

.contactTile {
    display: flex;
    align-items: center;
    border: 1px solid $contactTile-border;
    padding: 1rem 0;
    &__container {
        margin-left: 0.4rem;
    }
}
